
<!-- This is what is displayed on the site -->

{% extends "base.html" %}

{% block content %}
<form method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{username}}">
                <span class="error">{{usernameError}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{{passwordError}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error">{{vPasswordError}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional)</label></td>
            <td>
                <input name="email" value="{{email}}">
                <span class="error">{{emailError}}</span>
            </td>
        </tr>
    </table>
    <input type="submit">
</form>


{% endblock %}